body {
    background-color: #ddd;
}

/* div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 2rem;
    gap: 1rem;
} */

/* @media (width > 300px) {
    div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 600px) {
    div {
        grid-template-columns: repeat(3, 1fr);
    }
} */

div {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        /* auto-fit, */
        minmax(200px, 1fr)
    );
    gap: 1rem;
}

img {
    width: 100%;
    height: auto;
}